.banner {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 2.5rem;
  color: rgb(0 0 0 / 60%);
  background-color: rgb(255 255 255 / 40%);
  padding: 10px 20px;
  border-radius: 10px;
}

.container {
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgb(255 255 255 / 50%);
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.card h2 {
  color: #333;
}

.card p {
  line-height: 1.6;
}

@media (width < 768px) {
  .banner h1 {
    font-size: 2rem;
  }

  .container {
    padding: 10px;
  }
}
